<button
  (click)="toggle()"
  [attr.aria-expanded]="isOpen()"
  [attr.aria-label]="placeholder()"
  [disabled]="disabled()"
  aria-haspopup="listbox"
  class="dropdown-header"
>
  <span>{{ displayText() }}</span>

  <span>▼</span>
</button>

@if (isOpen()) {
  <div
    (appClickOutside)="isOpen.set(false)"
    class="dropdown-panel"
  >
    @if (search()) {
      <input
        (input)="onSearchInput($event)"
        class="search-input"
        placeholder="Поиск.."
        aria-label="Поиск"
        type="text"
      />
    }

    <div class="dropdown-list">
      @for (group of filteredGroups(); track group.id) {
        <fieldset
          [disabled]="group.disabled"
          class="group"
        >
          @if (group.label) {
            <legend>{{ group.label }}</legend>
          }

          @for (item of group.items; track item.value) {
            <button
              (click)="onItemClick(item, group)"
              [class.selected]="isItemSelected(item.value)"
              [disabled]="item.disabled"
              class="dropdown-item"
              type="button"
            >
              @if (multi()) {
                <input
                  [checked]="isItemSelected(item.value)"
                  aria-hidden="true"
                  tabindex="-1"
                  type="checkbox"
                />
              }

              {{ item.label }}
            </button>
          }
        </fieldset>
      } @empty {
        <div class="empty-message">Ничего не найдено</div>
      }
    </div>
  </div>
}
